/* Fuentes | Google y carpeta local.
font-family: 'Inria Sans', sans-serif;
*/
@font-face {
    font-family: 'mostwasted';
    src: url(../fonts/Mostwasted.ttf);
    font-weight: bold;
    font-style: bold;
}

/* Reset global */

* {
    box-sizing: border-box;    
}

/* Reset de tamaño de fuente para que 1rem y 1em sean = a 10px */

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

body{    
    font-family: 'Inria Sans', sans-serif;
    margin: 0;
}






/*Estilos del encabezado*/
.encabezado{
    display: flex;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    text-align: center;
}

.logo{
    display: flex;
    font-family: 'mostwasted';
    font-size: 5rem;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.logo img{
    width: 100px;
}

.lista{
    display: flex;
    font-weight: 600;
    font-size: 1.rem;
    text-transform: uppercase;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

}




/*Estilos del banner (cosas que no tenia por defecto bootstrap)*/
.carousel-item img{
    height: 450px;
    filter: brightness(0.5);
}

.carousel-caption h5{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 400;
}
.carousel-caption p{
    font-size: 2rem;
    color: #fff;;
    font-weight: 400px;
}

.carousel-item h5{
    font-size: 3.5rem;
    font-weight: 400;
}

.carousel-item p{
    font-size: 2rem;
    font-weight: 400;
}




/*Estilos de ubicacion y horarios*/
.ubicacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    text-align: center;
}

.texto-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-ubicacion h2{
    font-size: 3.5rem;

}
.texto-ubicacion p{
    font-size: 2rem;

}




/*Estilos de la seccion bienvenida */
.bienvenida{
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    text-align: center;
}

.imagen-bienvenida{
    width: 500px;
    height:350px;
    box-shadow: #000;
}

.texto-bienvenida{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.texto-bienvenida h3 {
    font-size: 3.5rem;
}





/* Estilos Footer */
.pie-contenido{
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p{
    font-size: 1rem;
    text-align: center;
}

footer p::before{
    content: "Fast Duck Motos  ";
    font-family: 'mostwasted';
    font-size: 3.5rem;
}

.redes {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

i {
    font-size: 3.5rem;
}

.facebook, .instagram, .whatsapp {
    color: #000;
    background: #fff;
    padding: .5rem;
}




/*Media query para adaptar la imagen que se distorciona para Mobile*/

@media only screen and (max-width: 767px) {
   .encabezado{
        padding: 1rem;
   }
   
    .carousel-item img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    main{
        margin: 1em;
    }
    
}