@font-face {
  font-family: "mostwasted";
  src: url(../fonts/Mostwasted.ttf);
  font-weight: bold;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

img {
  width: 100%;
}

body {
  font-family: "Inria Sans", sans-serif;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-bottom: 1px solid #000;
  padding: 0 120px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.logo-img {
  width: 100px;
}
.logo-texto {
  color: #3c74a5;
  font-family: "mostwasted";
  font-size: 3rem;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  justify-content: center;
}
.lista-item {
  font-size: 1.6rem;
}
.lista-item-link {
  color: #000;
}
.lista-item-link:hover {
  color: #3c74a5;
}

h1 {
  font-family: "mostwasted";
  font-size: 6rem;
}

.banner {
  max-width: 1200px;
  max-height: 500px;
}
.banner-img {
  filter: brightness(0.5);
  width: 490px;
}
.banner-titulo {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}
.banner-parrafo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.ubicacion-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ubicacion-texto-titulo {
  font-size: 3rem;
}
.ubicacion-texto-parrafo {
  font-size: 2rem;
}

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
}
.nosotros-img {
  width: 400px;
  height: 350px;
}
.nosotros-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 40%;
  text-align: center;
}
.nosotros-texto-titulo {
  font-size: 3rem;
}
.nosotros-texto-parrafo {
  font-size: 1.6rem;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;
  border-top: 2px solid #000;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.redes-titulo {
  font-size: 3rem;
}
.redes-link {
  color: #000;
  padding: 0.5rem;
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 1rem;
  }
  .encabezado {
    flex-direction: column;
    padding: 1rem;
  }
  .nosotros {
    width: 100%;
  }
  .nosotros-texto {
    width: auto;
    text-align: center;
  }
  .carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
.titulo {
  margin: 2rem;
  text-align: center;
}
.titulo-servicio {
  font-size: 4rem;
  font-weight: 400;
}
.titulo-texto {
  font-size: 3rem;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.servicio {
  margin: 0.5rem 0rem;
  width: 400px;
  height: 500px;
}
.servicio-img {
  width: 400px;
  height: 250px;
}
.servicio-titulo {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}
.servicio-parrafo {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
