@font-face {
  font-family: "mostwasted";
  src: url(../fonts/Mostwasted.ttf);
  font-weight: bold;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

img {
  width: 100%;
}

body {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #000;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: auto;
  height: auto;
  border-bottom: 0.2px solid #fff;
  padding: 0 120px;
  background-color: #000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.logo-img {
  width: 110px;
  height: auto;
}
.logo-texto {
  color: #fff;
  font-family: "mostwasted";
  font-size: 3rem;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.lista-item {
  font-size: 9px;
  font-weight: 500;
}
.lista-item-link {
  color: #fff;
}
.lista-item-link:hover {
  color: #3c74a5;
}

h1 {
  font-family: "mostwasted";
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.banner {
  max-width: 1200px;
  max-height: 700px;
}
.banner-img {
  filter: brightness(0.6);
}
.banner-titulo {
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
}
.banner-parrafo {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

.ubicacion {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  background-color: #011324;
}
.ubicacion-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
}
.ubicacion-texto-titulo {
  font-size: 2rem;
  color: #fff;
}
.ubicacion-texto-parrafo {
  font-size: 1.6rem;
  color: #fff;
}

.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}
.nosotros-img {
  width: 450px;
  height: 300px;
}
.nosotros-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 40%;
  text-align: center;
  color: #fff;
  padding: 3rem;
  line-height: 1.8;
}
.nosotros-texto-titulo {
  font-size: 3rem;
}
.nosotros-texto-parrafo {
  font-size: 1.6rem;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;
  border-top: 1px solid #fff;
}

.pie p {
  color: #fff;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.redes-titulo {
  font-size: 2rem;
  color: #fff;
}
.redes-link {
  color: #fff;
  padding: 0.5rem;
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  body {
    margin: 2rem;
    overflow-x: hidden;
  }
  .encabezado {
    flex-direction: column;
    padding: 0;
  }
  .ubicacion-texto {
    text-align: center;
  }
  .nosotros-texto {
    width: auto;
    text-align: center;
  }
}
.formulario-contenedor {
  padding: 0 120px;
}

@media only screen and (max-width: 767px) {
  .formulario-contenedor {
    padding: 0 20px;
  }
}
.titulo {
  margin: 2rem;
  text-align: center;
}
.titulo-servicio {
  font-size: 4rem;
}
.titulo-texto {
  font-size: 3rem;
  color: #fff;
}

.servicio {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}
.servicio-contenedor {
  width: 350px;
  height: 550px;
  border-radius: 6px;
  overflow: hidden;
  background: #011324;
  box-shadow: 0px 1px 10px #3c74a5;
  transition: all 400ms ease-out;
}
.servicio-img {
  width: 350px;
  height: 250px;
  filter: brightness(0.7);
  object-fit: cover;
}
.servicio-texto {
  padding: 30px;
}
.servicio-titulo {
  margin-bottom: 15px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.servicio-items {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.8;
  list-style: disc;
}

.servicio-contenedor:hover {
  box-shadow: 5px 5px 20px #011324;
  transform: translateY(-3%);
}

@media only screen and (max-width: 767px) {
  body {
    padding: 1rem;
  }
  .servicio-contenedor {
    margin: 1rem;
  }
  .servicio-imagen {
    object-fit: cover;
  }
}
.galeria-nombre {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}
.galeria-contenedor {
  display: grid;
  padding: 20px 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 10px;
}
.galeria-item {
  position: relative;
}
.galeria-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.galeria-titulo {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 600;
  bottom: 0;
  color: #fff;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
  padding: 10px;
}
.galeria-item:nth-child(4) {
  grid-column-start: span 2;
}
.galeria-item:nth-child(5) {
  grid-row-start: span 2;
}
.galeria-item:nth-child(9) {
  grid-column-start: span 2;
}

@media (max-width: 767px) {
  body {
    margin: 1 rem;
  }
  .galeria-nombre {
    margin: 2rem;
  }
  .galeria-contenedor {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
  .galeria-item:nth-child(3) {
    grid-column-start: span 2;
  }
  .galeria-item:nth-child(5) {
    grid-row-start: span 1;
  }
}

/*# sourceMappingURL=styles.css.map */
