@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin sizes($width, $heigth) {
    width: $width;
    height: $heigth;
}
