//colores

$color-principal: #000;
$color-secundario:#0e1a24; 
$color-tres: #3c74a5;
$color-cuatro: #00264e;
$color-cinco: #fff;

//Font Sizes

$font-small: 1.6rem;
$font-medium: 2rem;
$font-large: 3rem;
$font-xl: 4rem;
 
// Maps
 $spacings: (
    xsmall: 1rem,
    small: 1.3rem,
    medium: 1.6rem,
    large: 2rem
 );
 
 // map-get($spacings, $medium); 