//Encabezado
.encabezado {
    @include flex(null, space-between, center, 4rem);
    border-bottom: 0.2px solid $color-letra;
    padding: 0 120px;
    background-color: $color-principal
}

.logo {
    @include flex-center;

    &-img {
        @include sizes(110px, null);
    }

    &-texto {
        color: $color-letra;
        font-family: 'mostwasted';
        font-size: $font-medium;
    }
}


.lista {
    @include flex-center;
    justify-content: center;

    &-item {
        font-size: $font-small;
        font-weight: 500;

        &-link {
            color: $color-letra;
        }

        &-link:hover {
            color: $color-tres;
        }
    }
}

h1{
    font-family: 'mostwasted';
    font-size: $font-large;
    text-transform: uppercase;
    color: $color-letra;
}

//main

//estilos del carousel
.banner {
    max-width: 1300px;
    max-height: 700px;

    &-img {
        filter: brightness(0.6);
        
    }

    &-titulo {
        font-size: $font-large;
        color: $color-letra;
        font-weight: 300;
    }

    &-parrafo {
        color: $color-letra;
        font-size: $font-medium;
        font-weight: 300;
    }

}


//Ubicacion
.ubicacion {
    padding: 2rem;
    @include flex-center;
    @include flex-wrap;
    background-color: $color-secundario;

    &-texto {
        @include flex(column, center, center, 1rem);
        margin-right: 3rem;

        &-titulo {
            font-size: $font-medium;
            color: $color-letra;
        }

        &-parrafo {
            font-size: $font-small;
            color: $color-letra
        }
    }
}

//Nosotros
.nosotros {
    @include flex(null, center, center, 3rem);
    @include flex-wrap;

    &-img {
        @include sizes(400px, 350px);
    }

    &-texto {
        @include flex(column, center, center, 3rem);
        width: 40%;
        text-align: center;
        color: $color-letra;

        &-titulo {
            font-size: $font-large;
        }

        &-parrafo { 
            font-size: $font-small;
        }
    }
}

//footer
.pie {
    @include flex(column, space-around, center, .2rem);
    border-top: 1px solid $color-letra;
}
.pie p{
    color: $color-letra;
}
.redes {
    @include flex-center;
    @include flex-wrap;


    &-titulo {
        font-size: $font-medium;
        color: $color-letra;
    }

    &-link {
        color: $color-letra;
        padding: .5rem;
        font-size: $font-large;
    }

}



//media querys


@media only screen and (max-width: 767px) {
    body {
        padding: 1rem;
    }

    .encabezado {
        flex-direction: column;
        padding: 1rem;
    }

    .nosotros {
        @include sizes(100%, null);

        &-texto {
            width: auto;
            text-align: center;
        }
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        display: block;
    }

}