//Encabezado
.encabezado {
    @include flex(null, space-between, center, 4rem);
    border-bottom: 1px solid $color-principal;
    padding: 0 120px;
}

.logo {
    @include flex-center;

    &-img {
        @include sizes(100px, null)
    }

    &-texto {
        color: $color-tres;
        font-family: 'mostwasted';
        font-size: $font-large;
    }
}


.lista {
    @include flex-center;
    text-transform: uppercase;
    justify-content: center;

    &-item {
        font-size: $font-small;

        &-link {
            color: $color-principal;
        }

        &-link:hover {
            color: $color-tres;
        }
    }
}

h1{
    font-family: 'mostwasted';
    font-size: 6rem;
}

//main

//estilos del carousel
.banner {
    max-width: 1200px;
    max-height: 500px;

    &-img {
        filter: brightness(0.5);
        @include sizes(490px, null);
    }

    &-titulo {
        font-size: $font-large;
        color: $color-cinco;
        font-weight: 600;
    }

    &-parrafo {
        color: $color-cinco;
        font-size: $font-medium;
        font-weight: 600;
    }

}


//Ubicacion
.ubicacion {
    @include flex-center;
    @include flex-wrap;

    &-texto {
        @include flex(column, center, center, 1rem);

        &-titulo {
            font-size: $font-large;
        }

        &-parrafo {
            font-size: $font-medium;
        }
    }
}

//Nosotros
.nosotros {
    @include flex(null, center, center, 3rem);
    @include flex-wrap;

    &-img {
        @include sizes(400px, 350px);
    }

    &-texto {
        @include flex(column, center, center, 3rem);
        width: 40%;
        text-align: center;

        &-titulo {
            font-size: $font-large;
        }

        &-parrafo {
            font-size: $font-small;
        }
    }
}


//footer
.pie {
    @include flex(column, space-around, center, .2rem);
    border-top: 2px solid #000;
}

.redes {
    @include flex-center;
    @include flex-wrap;


    &-titulo {
        font-size: $font-large;
    }

    &-link {
        color: $color-principal;
        padding: .5rem;
        font-size: $font-large;
    }

}



//media querys


@media only screen and (max-width: 767px) {
    main {
        padding: 1rem;
    }

    .encabezado {
        flex-direction: column;
        padding: 1rem;
    }

    .nosotros {
        @include sizes(100%, null);

        &-texto {
            width: auto;
            text-align: center;
        }
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        display: block;
    }

}