//estilos seccion servicios

.titulo {
    margin: 2rem;
    text-align: center;

    &-servicio {
        font-size: $font-xl;
    }

    &-texto {
        font-size: $font-large;
        color: $color-letra;
    }
}

.servicio {
    @include flex(center, center, center, 3rem);
    @include flex-wrap;
    margin: 20px;   

    &-contenedor {
        @include sizes(350px, 550px);
        border-radius: 6px;
        overflow: hidden;
        background: $color-secundario;
        box-shadow: 0px 1px 10px $color-tres;
        transition: all 400ms ease-out;
    }

    &-img {
        @include sizes(350px, 250px);
        filter: brightness(0.7);
        object-fit: cover;
    }

    &-texto {
        padding: 30px;   
    }

    &-titulo {
        margin-bottom: 15px;
        font-size: $font-medium ;
        text-align: center;
        color: $color-letra;
    }

    &-items {
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-letra;
        line-height: 1.8;
        list-style: disc;
    }
}

.servicio-contenedor:hover {
    box-shadow: 5px 5px 20px $color-secundario;
    transform: translateY(-3%);
}

@media only screen and (max-width: 767px) {
    body {
        padding: 1rem;
    }

    .servicio-contenedor {
        margin: 15px;
    }

}