* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
} 

a {
    text-decoration: none;
    color: $font-color-principal;
    font-size: $font-medium;    
}

img {
    width: 100%;
}
body{
    font-family: 'Inria Sans', sans-serif;
}